.App {
  display: flex;
  justify-content: space-between;
}
.active-user {
  color: blue;
}
.alphabet-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 50vw;
}
